/* HEADER */

.ms-logo {
    width:8%;
}

.ms-returnal-banner {
    width:50%;
}

.jumbotron {
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    min-height: 340px;
    
}

.ps-plus {
    background-color: #bebcbb;
}

.ms_psplus-button {
    background-color: #d9dadc;
}